{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="card">
    <form action="/">
        <fieldset>
            <legend>Listar CEPs</legend>

            <p>
                <label for="uf">Estado</label>
                <select name="uf" id="uf" required>
                    <option value="" disabled selected>Selecione o estado</option>
                    {% for uf in ufs %}
                    <option value="{{ uf }}" {% if uf == selected_uf %}selected{% endif %}>{{ uf }}</option>
                    {% endfor %}
                </select>
            </p>

            <p>
                <label for="cidade">Cidade</label>
                <input type="text" name="cidade" id="cidade" value="{{ cidade }}" placeholder="Cidade" required>
            </p>

            <p>
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" id="logradouro" value="{{ logradouro }}" placeholder="Logradouro" required>
            </p>

            <button type="submit">Listar</button>
        </fieldset>
    </form>
</div>
</body>
</html>